<!DOCTYPE html>
<html>
	<head>
		<title>$PAGE_TITLE$</title>
		$PAGE_HTMLHEAD$
	</head>

	<body>
		<div id="body">
			<div id="common-header">
				$PAGE_CUSTOMSECTION["HEADER"]$
			</div>
			<div id="header">
				$PAGE_LAYOUTSECTION["HEADER"]["DIV"]$
			</div>
			<div id="columns">
				$PAGE_LAYOUTSECTION["COLUMN"]["DIV"]$
			</div>
			<div id="footer">
				$PAGE_LAYOUTSECTION["FOOTER"]["DIV"]$
			</div>
			<div id="common-footer">
				$PAGE_CUSTOMSECTION["FOOTER"]$
			</div>
		</div>
	</body>
</html>
