<?xml version="1.0" encoding="UTF-8"?>
<routes>
	<context name="default">
		<!-- Define what we want as the homepage -->
		<route path="" page="home" />
		
		<!-- Define the site structure -->
		<route path="home" page="home" />
		<route path="about" page="content" resourceID="about" />
		<route path="documentation" page="content" resourceID="documentation" />

		<!-- can also use regular expressions and can also use back references for 
			token replacement:

				<route path="content/(.*)" page="content" resourceID="$1" />

			Will match any page within the content directory, and use the page name for the 
			resourceID property.
		-->
		
		<!-- catch-all rule for all non defined routes -->
		<noroute page="content" resourceID="404" />
	</context>
</routes>